.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0px;
  left: 0px;

  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.overlay .modal-container {
  min-width: 350px;
  min-height: 150px;

  background: white;
  border: 1px solid var(--color-tertiary);
  border-radius: 7px;
  padding: 1rem;
}
